body {
  // font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: "Neue Machina";

  font-weight: 300;
  line-height: 1.7;
  color: white;
}

@font-face {
  font-family: "Neue Machina";
  src: url('~/assets/fonts/NeueMachina-Regular.otf');
}

@font-face {
  font-family: "Neue Machina";
  src: url('~/assets/fonts/NeueMachina-Light.otf');
  font-weight: lighter;
}

@font-face {
  font-family: "Neue Machina";
  src: url('~/assets/fonts/NeueMachina-Ultrabold.otf');
  font-weight: bold;
}


.heading {
  color: white;

  font-weight: 800;
  &__primary  {
    font-size: 4rem;
    line-height: 1;
// line-height: 150;

  }

  &__secondary {
    font-size: 10rem;
    // line-height: 106;

  }

  &__tertiary {
    font-size: 1rem;
    // line-height: 70;
  }
}

p {
  // font-size: 1rem;
}