.btn {
  display: inline-block;
  text-decoration: none;
  // border-radius: 4px;
  font-weight: 300;
  cursor: pointer;
  padding: 3.5px 2rem;
  height: 3.125rem;

  &__white {
    background-color: white;
    color: black;
  }
  &__black {
    background-color: black;
    color: white;
  }
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='date'],
input[type='time'] {
   height: 2.5rem;
  // padding: 0 1rem 2rem;
  &:focus {
    outline: none;
  }
}

select {
  appearance: none;
  border-width: 1px;
  border-color: transparent;
  height: 3rem;
  padding: 0 1rem 2rem;

  flex-grow: 1;

  &:focus {
    outline: none;
    border-color: black;
  }
}

label {
     position: relative;
    // width: 80%;
    min-width: 10em;
    max-width: 18em;
    display: flex;
    justify-content: space-between;
    align-items: center;

  // overflow: hidden;
}

// label::after {
//   content: '\25BE';
// 	// background-color: var(--focused-border-color);
// 	color: #fff;
// 	width: 2rem;
// 	position: absolute;
// 	top: 0;
// 	bottom: 0;
// 	right: 0;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	pointer-events: none;
// }

label.svg::after  {

    position: absolute;
    width: 2rem;
    top: 12px;
left: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    content: url('~/assets/svgs/dropdown.svg');
    line-height: 0;

}

.custom-select {
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}


.cursor-svg {
  cursor: url('~/assets/svgs/cursor.svg'), auto;

}